@model IEnumerable<Movie>

@{
    ViewData["Title"] = "Index";
}

<h1>Kaiju Movies</h1>
<h2>Welcome to the Kaiju Movies Page!</h2>
<p>This page shows the list of Kaiju movies with their movie title, their respective director and year of release!</p>
<p>*You may also delete any movie entry if they want.</p>
<p>*Please note: Any entry that is deleted is gone PERMANENTLY! Please choose carefully!</p>
<p>Any user may add in more movies as they wish by clicking on the "Add Kaiju Movie" link below! </p>
<p>
    <a asp-action="Create">Add Kaiju Movie</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Director)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearReleased)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Director)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearReleased)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
