@model IEnumerable<Monster>

@{
    ViewData["Title"] = "Index";
}

<h1>Kaiju</h1>
<h2>Welcome to the Kaiju Page!</h2>
<p>This lists the Kaiju with their name, the creator who made them and what year they are made, and their special attacks!</p>
<p>You may also edit, view details, add or even delete Kaiju from the KaijuDex!</p>
<p>NOTE: if you decide to delete a Kaiju from the list, it is gone PERMANENTLY!!</p>
<p>To add a new Kaiju to the KaijuDex, click on the "Add New Kaiju" link below!</p>
<p>
    <a asp-action="Create">Add New Kaiju!</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Creator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpecialAttack)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Creator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpecialAttack)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
